.container
  font-family: "Montserrat", sans-serif
  display: flex
  justify-content: center
  flex-direction: column
.message
  text-align: center
.btn
  margin: auto
  display: flex
  justify-content: center
