{{selectedIndex}}
<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)" #tabGroup>
    <mat-tab *ngFor="let city of cities, let i=index" label={{city}}>
      <app-city *ngIf="selectedIndex===i" [city]="city"></app-city>
    </mat-tab>
    <mat-tab >
      <ng-template class="tabLabel" mat-tab-label >
        <div class="addBtn" (click)="onClick(tabGroup.selectedIndex)">
          <mat-icon>add_circle_outlie</mat-icon>
        </div>
      </ng-template>
    </mat-tab>
</mat-tab-group>
