<div class="container">
  <div class="title">
    <div class="info-card">
      <div class="description">
        Temp
      </div>
      <div class="data">
        {{current.temp | number: '1.0-1'}}  ℃
      </div>
    </div>

    <div class="info-card">
      <div class="description">
        Humidity
      </div>
      <div class="data">
        {{current.humidity}} %
      </div>
    </div>

    <div class="info-card">
      <div class="description">
        Pressure
      </div>
      <div class="data">
        {{current.pressure}} hPa
      </div>
    </div>

    <div class="info-card">
      <div class="description">
        Windspeed
      </div>
      <div class="data">
        {{current.windspeed}} m/s
      </div>
    </div>

    <div class="closeBtn">
      <button mat-icon-button class="close" (click)="deleteCity()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>

  <div class="content">
    <div class="chart">
      <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="forecast"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="timeline">
      </ngx-charts-line-chart>
    </div>
  </div>

</div>



<!-- <mat-card>
  <mat-card-title>
    Weather Details
  </mat-card-title>
  <mat-card-content>
  </mat-card-content>
</mat-card> -->
